@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    IEnumerable<Usuarios> listaEnfermeiros = ViewData["listaEnfermeiros"] as IEnumerable<Usuarios>;
    IEnumerable<Usuarios> listaTecnicos = ViewData["listaTecnicos"] as IEnumerable<Usuarios>;
    IEnumerable<Usuarios> listaAux = ViewData["listaAux"] as IEnumerable<Usuarios>;
    IEnumerable<string> listaDias = ViewData["listaDias"] as IEnumerable<string>;
  

    Usuarios u = JsonConvert.DeserializeObject<Usuarios>(Context.Session.GetString("usuarios"));
}
@if(u.Id_Cargo == "SUPORTE TI")
{
    <link rel="stylesheet" href="~/css/cronograma.css">
}
else
{
    <link rel="stylesheet" href="~/css/cronograma_Gestor.css">
    <style>
        .titulo_pagina_adm{
            color:#FFAB08;
        }
        .mes_selcionado_adm{
            color:#DB9103;
        }
        #linha_horario_adm{
            background-color: #DB9103 !important;
            border: solid 2px #DB9103 !important;
        }

    </style>
}
<partial name="_Toast"/>
<link rel="stylesheet" href="~/css/periodo.css">




    <div class="contaner_titulo_index">
        <a asp-action="Voltar" asp-controller="Usuarios">
            <button class="btn_voltar_adm">
                <img src="~/img/voltar.png" alt="" class="img_btn_voltar">
            </button>
        </a>
    </div>
    <h1 class="titulo_pagina_adm">Adicionar Cronograma</h1>
    @{
        string[,] meses1 = new string[6, 2] { { "Janeiro", "01" }, { "Fevereiro", "02" }, { "Março", "03" }, { "Abril", "04" }, { "Maio", "05" }, { "Junho", "06" } };
        string[,] meses2 = new string[6,2] {{"Julho","07"},{"Agosto","08"},{"Setembro","09"},{"Outubro","10"},{"Novembro","11"},{ "Dezembro", "12" } };
        var data = DateTime.Now;
        var mes = data.Month;
     
    }
   
    <div id="container_btns_adm">
        <div class="container">      
            @for(int i = 0;i < 6;i++)
            {
                var marker = i + 1;

                if(marker < mes)
                {
                   
                    <button class="btn_mes_crono_adm" style="opacity:0.5" value="@meses1[i,1]" disabled onclick="EscolherMes(this)">@meses1[i,0]</button>
                }else{
                    <button class="btn_mes_crono_adm" value="@meses1[i,1]" onclick="EscolherMes(this)">@meses1[i,0]</button>
                }
                
            
        }
        </div>
        
        <div class="container">
            @for(int i = 0;i < 6;i++)
            {
                var marker = i + 7;
                @if(marker < mes)
                {
                    <button class="btn_mes_crono_adm" style="opacity:0.5" disabled value="@meses2[i,1]" onclick="EscolherMes(this)">@meses2[i,0]</button>
                }else{
                    <button class="btn_mes_crono_adm" value="@meses2[i,1]" onclick="EscolherMes(this)">@meses2[i,0]</button>
                }
            }
                 
       
        </div>
    </div>
       @* <form asp-action="Cadastrar2">*@
        <input type="hidden" id="mesRes" name="mes" value="teste">

@if(u.Id_Cargo == "SUPORTE TI")
{
    <div id="aux9">
          <select name="cars" id="" class="selecao_area">
            <option selected disabled value="">Selecione a Área</option>
            <option class="selecao_area_opicoes">################# </option>
          </select>
        </div>

}

        <p>Área de trabalho:@u.Id_Area</p>


    <h1 class="mes_selcionado_adm" id="h1_mes">AGOSTO</h1>
    <input type="hidden" id="ano" name="ano">
    <div class="conteiner_hario">
        <div class="vazio"></div>
    


      
        <div class="conteiner_hora">

            <input type="radio" name="periodo" id="manha" checked class="radio_hora" onclick="EscolherPeriodo(this)" value="manha">
            <p class="radio_hora_text">07:00 às 13:00</p>
        </div>

        <div class="conteiner_hora">
            <input type="radio" name="periodo" id="tarde" class="radio_hora" onclick="EscolherPeriodo(this)" value="tarde">
            <p class="radio_hora_text">13:00 às 19:00</p>
        </div>

        <div class="conteiner_hora">
            <input type="radio" name="periodo" id="noite" class="radio_hora" onclick="EscolherPeriodo(this)" value="noite">
            <p class="radio_hora_text">21:00 às 07:00</p>
        </div>

        <div class="vazio"></div>
    </div>
    <input type="hidden" id="periodoRes" name="periodo">
    <hr id="linha_horario_adm">
    </div>

    <div id="aux31">
        <button class="btn_avancar_conograma_adm" onclick="f5()">Trocar Horário</button>
    </div>

    <form id="myForm" asp-action="Cadastrar">
    <section id="aux30">

    

    
        <div class="aux13" id="div_Enfermeiros">
                <table class="tabela_crono_adm" id="tabela">
                    <tbody id="tbody_Enfermeiros">
                        <tr id="tr_Enfermeiros" class="linha_1_cronograma_enf">
            
            
                       </tr>

                    </tbody>         

                </table>
        </div>



        <!-------------------------------------------------------------------->

        <div class="aux13" id="div_Tecnicos">
            <table class="tabela_crono_adm" >
                <tbody id="tbody_Tecnicos">
                    <tr id="tr_Tecnicos" class="linha_1_cronograma_enf" >
                    

                    </tr>
              </tbody>
            </table>
        </div>

        <!----------------------------------------------------------------------->


        <div class="aux13" id="div_AuxEnf">
            <table class="tabela_crono_adm">
                <tbody id="tbody_AuxEnf">
                    <tr id="tr_AuxEnf"class="linha_1_cronograma_enf">
                   

                    </tr>
                </tbody>
            </table>
        </div>
       

        <input type="hidden" id="legendas" name="legenda">


        <div class="aux12">
            <button type="submit" id="btn_finalizar_cronograma">Finalizar</button>
        </div>
         </form>
        <br><br>
        <section id="sec_legenda">

            <div class="container_legenda">
                <h3 id="title_legenda">Legenda</h3>
                <hr class="linha_legenda">
                <div class="info_legenda_container">
                    <p class="info_legenda">
                        PR:Presente <br>
                        X: Folga <br>
                        ABA: Folga Abonada <br>
                        LTS: Licença tratamento de saúde <br>
                        LP: Licença Prêmio  <br>
                        LG: Licença gala <br>
                        FE: Férias <br>
                    </p>

                    <p class="info_legenda">
                        FI: Falta injustificada <br>
                        PF: Ponto Facultativo <br>
                        CH: Compensação de hora <br>
                        TL: Projeto Trocando de Lugar <br>
                        AF: Afastado <br>
                        TC: Término de contrato <br>
                        FT:Folga trabalhada<br>
                    </p>

                </div>

            </div>

        </section>
          <br><br>

    </section>


<script src="~/js/funcao.js"></script>
<script src="~/js/cronograma.js"></script>

