@model Nurzed.Models.Usuarios
@{
    ViewData["Title"] = "Cadastrar";
    IEnumerable<Universidade> listaUniversidade = ViewData["listaUniversidade"] as IEnumerable<Universidade>;
    IEnumerable<Curso> listaCurso = ViewData["listaCurso"] as IEnumerable<Curso>;
    IEnumerable<Especialidade> listaEspecialidade = ViewData["listaEspecialidade"] as IEnumerable<Especialidade>;
    IEnumerable<Cargo> listaCargo = ViewData["listaCargo"] as IEnumerable<Cargo>;
    IEnumerable<Area> listaArea = ViewData["listaArea"] as IEnumerable<Area>;
}
<partial name="_Toast" />
<link rel="stylesheet" href="~/css/cadastro.css">


<div class="contaner_titulo_index">
    <a asp-action="Voltar">
        <button class="btn_voltar_adm">
            <img src="~/img/voltar.png" alt="" class="img_btn_voltar">
        </button>
    </a>
</div>

<h1 class="titulo_pagina_adm">Adicionar usuário</h1>

<form asp-action="Cadastrar">
    <div id="area_selecao_user">
        <h3>Que tipo de usúario deseja adicionar ? </h3>

        <div class="opicao_area_selecao_user">
            <input type="radio" name="privilegios" checked value="Comum"
                   class="radio_opicao_area_selecao_user">
            <p>Usuário Comum</p>
        </div>
        <div class="opicao_area_selecao_user">
            <input type="radio" name="privilegios" value="Gestor"
                   class="radio_opicao_area_selecao_user">
            <p>Usuário Gestor</p>
        </div>
        <div class="opicao_area_selecao_user">
            <input type="radio" name="privilegios" value="Administrador"
                   class="radio_opicao_area_selecao_user">
            <p>Usuário Administrador</p>
        </div>
    </div>

    <section id="sec_cadastro">
        <Label class="label_cadastro">Nome Completo: </Label><sup class="asteritico">*</sup><br>
        <input type="text" name="nome" id="nomecompleto" class="caixa_texto" minlength="2" maxlength="100"   ><br>

        <Label class="label_cadastro">Nome da mãe: </Label><sup class="asteritico">*</sup><br>
        <input type="text" name="nome_da_mae" id="nomemae" class="caixa_texto"
               minlength="2" maxlength="100"><br>


        <Label class="label_cadastro">Nome do pai: </Label><br>
        <input type="text" name="nome_do_pai" id="nomepai" class="caixa_texto"
               minlength="2" maxlength="100" >

        <div class="input2">
            <div id="auxCamila">
                <Label class="label_cadastro">Data de nascimento: </Label><sup class="asteritico">*</sup><br>
                <input type="text" name="data_de_nascimento" id="data_nascimento"
                       class="caixa_texto_mini">
            </div>

            <div>
                <Label class="label_cadastro">CPF: </Label><sup class="asteritico">*</sup><br>
                <input type="text" name="cpf" id="cpf" class="caixa_texto_mini"
                       minlength="14" maxlength="14">
            </div>
        </div>

        <div class="input2">
            <div id="auxCamila">
                <Label class="label_cadastro">Sexo: </Label><sup class="asteritico">*</sup><br>
                <select id="sexo" name="sexo" class="caixa_texto" style="margin: 10px 30px 0 0; width: 415px;">
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                </select>
            </div>

            <div>
                <Label class="label_cadastro">RG: </Label><sup class="asteritico">*</sup><br>
                <input type="text" name="rg" id="rg" class="caixa_texto_mini" minlength="12"
                       maxlength="12">
            </div>
        </div>

        <div class="input2">
            <div id="auxCamila">
                <Label class="label_cadastro">CEP: </Label><sup class="asteritico">*</sup><br>
                <input type="text" name="cep" id="cep" class="caixa_texto_mini" minlength="9"
                       maxlength="9">
            </div>

            <div>
                <Label class="label_cadastro">Telefone: </Label><sup class="asteritico">*</sup><br>
                <input type="text" name="telefone" id="telefone" class="caixa_texto_mini"
                       minlength="14" maxlength="14">
            </div>
        </div>

        <hr class="linha_cadastro">

        <Label class="label_cadastro"> Curso:</Label><sup class="asteritico">*</sup><br>
        <select class="caixa_texto" name="id_Curso">

            @foreach (var item in listaCurso)
            {
                <option value="@item.Id">@item.Nome </option>
            }
        </select>
        <br>

        <Label class="label_cadastro">Universidade:</Label><sup class="asteritico">*</sup><br>
        <select class="caixa_texto" name="id_Universidade">

            @foreach (var item in listaUniversidade)
            {
                <option value="@item.Id">@item.Nome (@item.Sigla) </option>
            }
        </select>
        <br>

        <div class="input2">
            <div id="auxCamila">
                <Label class="label_cadastro">Data de início universidade: </Label><sup class="asteritico">*</sup><br>
                <input type="text" name="data_de_inicio_Universidade" id="uni_inicio" class="caixa_texto_mini"
                       minlength="8">
            </div>

            <div>
                <Label class="label_cadastro">Data término universidade: </Label><sup class="asteritico">*</sup><br>
                <input type="text" name="data_de_termino_Universidade" id="uni_fim" class="caixa_texto_mini">
            </div>
        </div>

        <hr class="linha_cadastro">

        <Label class="label_cadastro">Cargo:</Label><sup class="asteritico">*</sup><br>
        <select class="caixa_texto" name="id_Cargo">

            @foreach (var item in listaCargo)
            {
                <option value="@item.Id">@item.Nome </option>
            }
        </select>
        <br>

        <Label class="label_cadastro">Área:</Label><sup class="asteritico">*</sup><br>
        <select class="caixa_texto" name="id_Area">

            @foreach (var item in listaArea)
            {
                <option value="@item.Id">@item.Nome </option>
            }
        </select>
        <br>

        <Label class="label_cadastro">Especialidade:</Label><sup class="asteritico">*</sup><br>
        <select class="caixa_texto" name="id_Especialidade">

            @foreach (var item in listaEspecialidade)
            {
                <option value="@item.Id">@item.Nome </option>
            }
        </select>
        <br>

        <Label class="label_cadastro">Periodo:</Label><sup class="asteritico">*</sup><br>
        <select class="caixa_texto" name="periodo">
            <option asp-for="Tipo_de_contrato" value="manha">Manhã</option>
            <option asp-for="Tipo_de_contrato" value="tarde">Tarde</option>
            <option asp-for="Tipo_de_contrato" value="noite">Noite</option>
        </select>
        <br>

        <Label class="label_cadastro">Tipo de contrato:</Label><sup class="asteritico">*</sup><br>
        <select class="caixa_texto" name="tipo_de_contrato">
            <option value="Concursado">Concursado</option>
            <option value="Terceirizado">Terceirizado</option>
        </select>
        <br>

        <div class="input2">
            <div id="auxCamila">
                <Label class="label_cadastro">COREN: </Label><sup class="asteritico">*</sup><br>
                <input type="text" name="coren" id="coren" class="caixa_texto_mini" minlength="2" maxlength="250">
            </div>

            <div>
                <Label class="label_cadastro">Matrícula: </Label><sup class="asteritico">*</sup><br>
                <input type="text" name="matricula" id="matricula" class="caixa_texto_mini" minlength="8"
                       maxlength="8">
            </div>
        </div>

        <div class="input2">
            <div id="auxCamila">
                <Label class="label_cadastro">Senha: </Label><sup class="asteritico">*</sup><br>
                <input type="password" name="senha" id="senha" class="caixa_texto_mini" minlength="8" maxlength="40">
            </div>

        </div>

    </section>

    <div id="btn_final_cadastro_adm">
        <button class="btn_Finalizar_adm" onclick="ValidacaoGeral() " type="submit">Finalizar</button>
        <br>
    </div>
</form>





<script src="~/js/valida_forms.js"></script>
@*
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>*@

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/15068104d6.js" crossorigin="anonymous"></script>
@*<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>*@
<script src="~/js/jquery.mask.js"></script>


<script>
    $(document).ready(function() {
        $('#rg').mask('00.000.000-00');
        $('#cep').mask('00000-000');
        $('#cpf').mask('000.000.000-00')
        $('#telefone').mask('(00) 00000-0000')
        $('#coren').mask('COREN-AA 000.000-AAAA')
        $('#data_nascimento').mask('00/00/0000')
        $('#uni_inicio').mask('00/00/0000')
        $('#uni_fim').mask('00/00/0000')
    })
</script>

